section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #aaa;
    border-radius: 20px;
    padding: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #aaa;
}

input {
    font-family: system-ui;
    margin-bottom: 20px;
}

.loginButton {
    margin-top: 10px;
    width: fit-content;
}