/* Fondo difuminado */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

/* Caja del modal */
.modal {
    background: #555;
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 200px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    animation: modalFadeIn 0.25s ease-out;
}

/* Formulario */
.modal form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Inputs */
.modal input {
    padding: 0.6rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Botón */
.modal button {
    margin-top: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.modal button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Link */
.modal a {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #2563eb;
    text-decoration: none;
}

.botonera {
    display: flex;
    align-items: center;
    justify-content: space-between
}

/* Animación */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}