.mainNavBar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 7px 15px 10px 15px;
    margin: 5px 15px;
    background-color: #aaa;
    border-radius: 10px;
}

.mainNavBar * {
    text-decoration: none;
    font: system-ui;
    font-weight: bold;
}

.menuRightItem {
    margin-left: auto;
}